
.div{
  width: 100%;
  background-color: aliceblue;
  position: absolute;
  background-color: rgb(255, 255, 255);
 top:413px;
 left: 0px;
}
.categorizitions{
margin: 0px  ;
width:100%;
height: 190px;
 
display:flex;
justify-content:start;
direction: rtl;
background-color: rgb(255, 255, 255);
 
}


.heder{
  font-size:1.7vw;
  height: 30px;
  width: 100%;
  text-align: center;
  color: blue;
  display: block;
  margin: auto;

}

.grop{
    width: 115px;
    margin-right: 15px;
    margin-top: 30px;
    height: 150px;
    
   
}

.imggrop{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  margin: auto;

}

.labelgrop{
    width: 100%;
    height: 30px;
   margin-left: auto;
   display: block;
   text-align: center;

}