@import "tailwindcss";



@theme inline {
 

}

body {
  margin: 0px;
  background:#d3e4ee;
  color:#000000;
  font-family: Arial, Helvetica, sans-serif;
}

#lk{
  width: 100px;
  height: 100px;
  background-color: red;
}

.nnn{

  position: absolute;
  bottom: 611px;
  left: 400px;
}