@import "tailwindcss";



@theme inline {
 

}

body {
  background:#dbd9d9;
  color:#000000;
  font-family: Arial, Helvetica, sans-serif;
}

#lk{
  width: 100px;
  height: 100px;
  background-color: red;
}

